<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- Database Connection settings  -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gs_1830</property>
        <property name="hibernate.connection.username">gs_1830</property>
        <property name="hibernate.connection.password">test@123</property>
		<!-- JDBC connection pool -->        
        <property name="hibernate.connection.pool_size">1</property>
        <!-- PostgresSQL9.5 Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <!-- Show all sql to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">true</property>
		<mapping class="com.gslab.demo.model.Student" />
		<mapping class="com.gslab.demo.model.Employee" />
    </session-factory>
</hibernate-configuration>